<div class="container col-md-12">
  <div class="row">
    <div class="todoListMain ">
      <div class="header">

        <input #task type="text" placeholder="Dodaj zadanie" (keyup.enter)="addTask(task.value);
          task.value='' ">
        <button class="" (click)="addTask(task.value); 
          task.value='' "> Dodaj Zadanie</button>

      </div>
      <div class="theList">
        <ul>
          <li *ngFor=" let todo of todos; let i-index " (click)="removeTask(todo.key) ">
            {{todo.title}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>