<!--The content below is only a placeholder and can be replaced.-->

<body>
  <div class="container col-md-12 col-md-offset-5">
    <h1>
      Welcome to {{ title }}!
    </h1>

    <div>
      <todo-list></todo-list>
    </div>

  </div>
</body>